
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #569957;
}

/* Layout */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 180px;
    background: #fafafa;
    padding: 30px;
    border-right: 2px solid #e6e6e6; 
}

.icon-links {
    display: flex;              /* puts everything in one line */
    align-items: center;        /* vertical alignment */
    gap: 1px;                  /* spacing between items */
    margin-top: 15px;
    margin-bottom: 20px;
}


.icon-links a {
    font-size: 19px;              /* icon size */
    color: #569957;               /* purple */
    margin-right: 5px;           /* spacing */
    text-decoration: none;
}

.icon-links a:hover {
    color: #3f6e40;               /* darker purple */
}


.profile-pic {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.name {
    font-size: 22px;
    margin-bottom: 5px;
}

.title {
    color: #666;
    margin-bottom: 20px;
}

.links a {
    display: block;
    margin-bottom: 8px;
    color: #569957;
    text-decoration: none;
    font-weight: bold;
}

/* Main content */
.content {
    flex: 1;
    padding: 40px;
}

.intro {
    font-size: 18px;
    line-height: 1.6;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

h3 {
    margin-bottom: 10px;
    border-bottom: 2px solid #569957;
    display: inline-block;
    padding-bottom: 3px;
}

.news li {
    margin-bottom: 10px;
}
.highlight {
    font-size: 22px;     /* larger font */
    font-weight: bold;   /* bold */
    color: #333;         /* or any color */
}

.advisor-link {
    color: #569957;
    text-decoration: none;
    font-weight: bold;
}

.advisor-link:hover {
    color: #3f6e40;
}

